<h1>{{ LoginMessage }}</h1>
<div class="container">
  <div class="row row-cols-3 row-cols-md-3">
    <div *ngFor="let item of MenuItems">
      <div class="col mb-1">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ item.menuName }}</h5>
            <h6 class="card-subtitle">{{ item.menuName }}</h6>
            <p class="card-text">
              The price is <i class="bi bi-currency-rupee"></i
              >{{ item.menuPrice }}
            </p>
            <hr />
            <input
              type="checkbox"
              [value]="item"
              (change)="onCheckBoxSelect($event, item)"
              [checked]="isChecked(item)"
              [hidden]="!LoginStatus"
              class="form-check-input"
            />
            <button
              (click)="addItem(item)"
              [hidden]="!LoginStatus"
              class="ms-2"
            >
              <span>
                <i class="bi bi-plus-square"></i>
              </span>
            </button>
            <input
              type="text"
              value=""
              [(ngModel)]="item.itemQty"
              [hidden]="!LoginStatus"
              style="width:65%;"
            />
            <button (click)="removeItem(item)" [hidden]="!LoginStatus">
              <span>
                <i class="bi bi-file-minus"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div [element-color]="elementColor">
    <span>Menu 1</span>&nbsp; <span>88.0</span>&nbsp;
    <span>
      <input #Menu1 type="checkbox" (change)="onCheckBoxSelect($event)" />
    </span>
  </div>
  <div [element-color]="elementColor">
    <span>Menu 2</span>&nbsp; <span>90.0</span>&nbsp;
    <span>
      <input #Menu2 type="checkbox" (change)="onCheckBoxSelect($event)" />
    </span>
  </div>
  <div [element-color]="elementColor">
    <span>Menu 3</span>&nbsp; <span>46.0</span>&nbsp;
    <span>
      <input #Menu3 type="checkbox" (change)="onCheckBoxSelect($event)" />
    </span>
  </div> -->
    <!--<button type="button" (click)="getDataMessage()">Show</button>
    <button type="button" (click)="getDataMessage()">Reset</button>-->
  </div>
</div>
